ion-select {
    width: 100%;
    --placeholder-color: #f1f1f1 !important;
    color: #f1f1f1;
    background-color: #282828;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 1.7em 0 1em;
    padding: 1em;
}