<ion-select class="" multiple="true" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Filter Tasks" (ionChange)="onSelectChangevalue($event)">
    <ion-select-option value="red">Red</ion-select-option>
    <ion-select-option value="purple">Purple</ion-select-option>
    <ion-select-option value="yellow">Yellow</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
    <ion-select-option value="green">Green</ion-select-option>
</ion-select>