<ul class="list">
    <li class="list-item">
        <div class="list-title">
            <ion-checkbox color="primary" id="1" mode="md"></ion-checkbox>
            <label for="1" class="check--label">Sample Todo</label>
        </div>
        <div class="list-actions">
            <fa-icon [icon]="faEdit"></fa-icon>
            <fa-icon [icon]="faTrashAlt" (click)="presentModal()"></fa-icon>
        </div>
    </li>
    <li class="list-item">
        <div class="list-title">
            <ion-checkbox color="primary" id="1" mode="md"></ion-checkbox>
            <label for="1" class="check--label">Sample Todo</label>
        </div>
        <div class="list-actions">
            <fa-icon [icon]="faEdit"></fa-icon>
            <fa-icon [icon]="faTrashAlt" (click)="presentModal()"></fa-icon>
        </div>
    </li>
    <li class="list-item">
        <div class="list-title">
            <ion-checkbox color="primary" id="1" mode="md"></ion-checkbox>
            <label for="1" class="check--label">Sample Todo</label>
        </div>
        <div class="list-actions">
            <fa-icon [icon]="faEdit"></fa-icon>
            <fa-icon [icon]="faTrashAlt" (click)="presentModal()"></fa-icon>
        </div>
    </li>
</ul>